@font-face {
  font-family: "Luckiest Guy";
  src: url(../../Assets/Font/LuckiestGuy.ttf);
}
@font-face {
  font-family: "Urbanist";
  src: url(../../Assets/Font/Urbanist-Bold.ttf);
}

html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

dialog {
  text-align: center;
}

canvas.fullscreen {
  width: 1vw;
  height: 1vh;
}

#card-wrapper {
  position: relative;
  --card-size: 400px;
}

/* cards */
.card {
  box-sizing: border-box;
  position: relative;
  height: var(--card-size);
  aspect-ratio: 15 / 21;
  display: grid;
  grid-template-rows: 20% 65% 15%;
  font-family: 'Luckiest Guy', cursive;

  --name-text-color: white;

  --name-text-outline: #623600;
  --name-text-dropshadow: #512400;

  --text-text-color: #ffdfa2;
  --text-text-dropshadow: rgba(0, 0, 0, 0.25);

  background-image: url("Assets/Cards/example.png");
  background-size: 100% 100%;
}

.card-name {
  font-size: calc(var(--card-size) / 100 * 10);
  position: relative;
  --shadow-width: 0.05em;
  text-shadow: 0.05em 0.05em var(--name-text-outline),
  -0.05em 0.05em var(--name-text-outline),
  0.05em -0.05em var(--name-text-outline),
  -0.05em -0.05em var(--name-text-outline);
  filter: drop-shadow(0 0.12em 0 var(--name-text-dropshadow));
  color: var(--name-text-color);
  transform: translate(-0.1em, 0);
}

.card-text {
  white-space: pre-wrap;
  display: grid;
  place-items: center;
  font-size: calc(var(--card-size) / 100 * 4);
  text-align: center;
  font-family: "Urbanist", Arial, Helvetica, sans-serif;
  color: var(--text-text-color);
  text-shadow: 0 0.1em 0 var(--text-text-dropshadow);
  transform: rotate(-3deg) translate(2em, -0.5em);
  width: 80%;
  height: 100%;
}

.card-image {
  display: grid;
  place-items: center;
}

.card-image>img {
  max-height: 100%;
  max-width: 100%;
}